.amazon-font{
  font-family: 'Nunito', sans-serif;
}

.link-color{
  color:#3498db;
}

.price-tag{
  color:crimson;
}

.under-image{
  font-size:12px;
  margin-left: 3px;
}

.footer{ 
  background-color:#232F3E;
  font-size: 13px;
}